<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://genie.atiar.info/URLAPP" version="1.0.0" viewmodes="maximized">
    <tizen:application id="0123456789.URLAPP" package="0123456789" required_version="2.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name xml:lang="en-gb">ProCon_UrlApp</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
    <tizen:privilege name='http://tizen.org/privilege/tv.inputdevice'></tizen:privilege> 
    <access origin="*" subdomains="true"/>
</widget>
	